.ingredients {
  margin: 2rem 0;
}

.ingredients h2 {
  margin: 0 0 -7px 20px;
  font-size: 2rem;
}

.sectionContent {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
  .ingredients {
    margin: 0;
    grid-area: ingredients;
  }
}

.sectionContent ul {
  margin-bottom: 8px;
}

.sectionContent ul li {
  margin: 16px 0 0 20px;
  list-style-type: disc;
}
