.filterSection {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sectionTitle {
  margin: 0 0 6px 0;
  font-family: var(--font-nunito-sans);
  font-size: 1.125rem;
  font-weight: 600;
  color: #444;
}
